<!-- Toolbar -->
<div class="container" role="main">
  <mat-card class="example-card">
    <mat-card-content>
      <form #userForm="ngForm" (ngSubmit)="onSave(userForm.value)" novalidate>
        <!-- <p>Is "myForm" valid? {{userForm.valid}}</p> -->
      <div class="row">
        <input name="id" type="hidden" [(ngModel)]="id" />
        <mat-form-field class="mat-field" appearance="outline">
          <mat-label>First Name</mat-label>
          <input name="firstName" [(ngModel)]="firstName" matInput placeholder="Last Name" required>
        </mat-form-field>

        <span>
        <mat-form-field class="mat-field" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input name="lastName" [(ngModel)]="lastName" matInput placeholder="Last Name " required>
        </mat-form-field>
      </span>


        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input name="email" [(ngModel)]="email" matInput placeholder="Email" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input name="phoneNo" [(ngModel)]="phoneNo" matInput placeholder="Phone Number" required>
        </mat-form-field>

        <button mat-stroked-button color="primary" class="btn-primary">{{valbutton}}</button>
      </div>
      </form>
    </mat-card-content>
  </mat-card>


    <div style="margin-top:20px;"></div>
  <mat-card class="example-card">
    <mat-card-content>
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

          <!--First Name Column -->
          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
          </ng-container>

          <!--Last Name  Column -->
          <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
          </ng-container>

           <!-- Email  Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
          </ng-container>

           <!-- Phone Number  Column -->
           <ng-container matColumnDef="phoneNo">
            <mat-header-cell *matHeaderCellDef>Phone No</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phoneNo}} </mat-cell>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="Edit">
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let element"><a (click)="edit(element)"
                style="color:blueviolet;cursor: pointer;">Edit</a> </mat-cell>
          </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef="Delete">
            <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *matCellDef="let element"><a (click)="delete(element._id)"
                style="color:rgb(226, 43, 43);cursor: pointer;">Delete</a> </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

</div>

