table {
    width: 100%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .mat-form-field {
    font-size: 14px;
    width: 20%;
    margin: 30px;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .form-cart{
      margin: 10%;
  }
  .btn-primary{
      background-color: blue;
      color: white;
      margin-left: 90%;
  }
